body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url('backgrounds/boxingRing.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
a:hover{
  color: white;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinky-dancer {
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.ninja-turtle-dancer {
 border:10px solid green;
  border-radius:10px;
  position:absolute;
}
.amy-schumer-dancer {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.hulk-hogan-dancer {
  border:10px solid orange;
  border-radius:10px;
  position:absolute;
}
